In [1]:
import pandas as pd

In [2]:
file = pd.read_csv(r"C:\Users\P\Desktop\jupyter\TitanicMess.tsv", sep='\t')

In [3]:
pd.set_option('display.max_rows', None)

In [4]:
file

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ship
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,"7,25",NaN,S,Titanic
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,"71,2833",C85,C,Titanic
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,"7,925",NaN,S,Titanic
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,"53,1",C123,S,Titanic
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,"8,05",NaN,S,Titanic
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,"8,4583",NaN,Q,Titanic
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,"51,8625",E46,S,Titanic
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,"21,075",NaN,S,Titanic
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,"11,1333",NaN,S,Titanic
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,"30,0708",NaN,C,Titanic
10,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4,1,1,PP 9549,"16,7",G6,S,Titanic
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,"26,55",C103,S,Titanic
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,"8,05",NaN,S,Titanic
13,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4,1,1,PP 9549,"16,7",G6,S,Titanic
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,"7,8542",NaN,S,Titanic
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16,NaN,S,Titanic
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,"29,125",NaN,Q,Titanic
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13,NaN,So,Titanic
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18,NaN,S,Titanic
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,"7,225",NaN,C,Titanic
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26,NaN,S,Titanic
21,22,1,2,"Beesley, Mr. Lawrence",malef,34,0,0,248698,13,D56,S,Titanic
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,"8,0292",NaN,Q,Titanic
23,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4,1,1,PP 9549,"16,7",G6,S,Titanic
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,"21,075",NaN,S,Titanic
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,"31,3875",NaN,S,Titanic
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,"7,225",NaN,C,Titanic
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S,Titanic
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,"7,8792",NaN,Q,Titanic
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,"7,8958",NaN,S,Titanic
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40,0,0,PC 17601,"27,7208",NaN,C,Titanic
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,.9,1,0,PC 17569,"146,5208",B78,C,Titanic
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,"7,75",NaN,Q,Titanic
33,34,0,2,"Wheadon, Mr. Edward H",male,66,0,0,C.A. 24579,"10,5",NaN,S,Titanic
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28,1,0,PC 17604,"82,1708",NaN,C,Titanic
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42,1,0,113789,52,NaN,S,Titanic
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,"7,2292",NaN,C,Titanic
37,38,0,3,"Cann, Mr. Ernest Charles",male,21,0,0,A./5. 2152,"8,05",NaN,S,Titanic
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18,2,0,345764,18,NaN,S,Titanic
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14,1,0,2651,"11,2417",NaN,C,Titanic
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,0,7546,"9,475",NaN,S,Titanic
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27,1,0,11668,21,NaN,S,Titanic
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,"7,8958",NaN,C,Titanic
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,"41,5792",NaN,C,Titanic
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19,0,0,330958,"7,8792",NaN,Q,Titanic
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,"8,05",NaN,S,Titanic
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,"15,5",NaN,Q,Titanic
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,"7,75",NaN,Q,Titanic
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,"21,6792",NaN,C,Titanic
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,1,0,349237,"17,8",NaN,S,Titanic
50,51,0,3,"Panula, Master. Juha Niilo",male,7,4,1,3101295,"39,6875",NaN,S,Titanic
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21,0,0,A/4. 39886,"7,8",NaN,S,Titanic
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49,1,0,PC 17572,"76,7292",D33,C,Titanic
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29,1,0,2926,26,NaN,S,Titanic
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65,0,1,113509,"61,9792",B30,C,Titanic
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,"35,5",C52,S,Titanic
56,57,1,2,"Rugg, Miss. Emily",female,21,0,0,C.A. 31026,"10,5",NaN,S,Titanic
57,58,0,3,"Novel, Mr. Mansouer",male,"28,5",0,0,2697,"7,2292",NaN,C,Titanic
58,59,1,2,"West, Miss. Constance Mirium",female,5,1,2,C.A. 34651,"27,75",NaN,S,Titanic
59,60,0,3,"Goodwin, Master. William Frederick",male,11,5,2,CA 2144,"46,9",NaN,S,Titanic
60,61,0,3,"Sirayanian, Mr. Orsen",male,22,0,0,2669,"7,2292",NaN,C,Titanic
61,62,1,1,"Icard, Miss. Amelie",female,38,0,0,113572,80,B28,NaN,Titanic
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45,1,0,36973,"83,475",C83,S,Titanic
63,64,0,3,"Skoog, Master. Harald",male,4,3,2,347088,"27,9",NaN,S,Titanic
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,"27,7208",NaN,C,Titanic
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,"15,2458",NaN,C,Titanic
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29,0,0,C.A. 29395,"10,5",F33,S,Titanic
67,68,0,3,"Crease, Mr. Ernest James",male,19,0,0,S.P. 3464,"8,1583",NaN,S,Titanic
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17,4,2,3101281,"7,925",NaN,S,Titanic
69,70,0,3,"Kink, Mr. Vincenz",male,26,2,0,315151,"8,6625",NaN,S,Titanic
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32,0,0,C.A. 33111,"10,5",NaN,S,Titanic
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16,5,2,CA 2144,"46,9",NaN,S,Titanic
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21,0,0,S.O.C. 14879,"73,5",NaN,S,Titanic
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26,1,0,2680,"14,4542",NaN,C,Titanic
74,75,1,3,"Bing, Mr. Lee",male,32,0,0,1601,"56,4958",NaN,S,Titanic
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25,0,0,348123,"7,65",F G73,S,Titanic
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,"7,8958",NaN,S,Titanic
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,"8,05",NaN,S,Titanic
78,79,1,2,"Caldwell, Master. Alden Gates",male,"0,83",0,2,248738,29,NaN,S,Titanic
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30,0,0,364516,"12,475",NaN,S,Titanic
80,81,0,3,"Waelens, Mr. Achille",male,22,0,0,345767,9,NaN,S,Titanic
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29,0,0,345779,"9,5",NaN,S,Titanic
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,"7,7875",NaN,Q,Titanic
83,84,0,1,"Carrau, Mr. Francisco M",male,28,0,0,113059,"47,1",NaN,S,Titanic
84,85,1,2,"Ilett, Miss. Bertha",female,17,0,0,SO/C 14885,"10,5",NaN,S,Titanic
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33,3,0,3101278,"15,85",NaN,S,Titanic
86,87,0,3,"Ford, Mr. William Neal",male,16,1,3,W./C. 6608,"34,375",NaN,S,Titanic
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,"8,05",NaN,S,Titanic
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23,3,2,19950,263,C23 C25 C27,S,Titanic
89,90,0,3,"Celotti, Mr. Francesco",male,24,0,0,343275,"8,05",NaN,S,Titanic
90,91,0,3,"Christmann, Mr. Emil",male,29,0,0,343276,"8,05",NaN,S,Titanic
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20,0,0,347466,"7,8542",NaN,S,Titanic
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46,1,0,W.E.P. 5734,"61,175",E31,S,Titanic
93,94,0,3,"Dean, Mr. Bertram Frank",male,26,1,2,C.A. 2315,"20,575",NaN,S,Titanic
94,95,0,3,"Coxon, Mr. Daniel",male,59,0,0,364500,"7,25",NaN,S,Titanic
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,"8,05",NaN,S,Titanic
96,97,0,1,"Goldschmidt, Mr. George B",male,71,0,0,PC 17754,"34,6542",A5,C,Titanic
97,98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,PC 17759,"63,3583",D10 D12,C,Titanic
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34,0,1,231919,23,NaN,S,Titanic
99,100,0,2,"Kantor, Mr. Sinai",male,34,1,0,244367,26,NaN,S,Titanic
100,101,0,3,"Petranec, Miss. Matilda",female,28,0,0,349245,"7,8958",NaN,S,Titanic
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,"7,8958",NaN,S,Titanic
102,103,0,1,"White, Mr. Richard Frasar",male,21,0,1,35281,"77,2875",D26,S,Titanic
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33,0,0,7540,"8,6542",NaN,S,Titanic
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37,2,0,3101276,"7,925",NaN,S,Titanic
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28,0,0,349207,"7,8958",NaN,S,Titanic
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21,0,0,343120,"7,65",NaN,S,Titanic
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,"7,775",NaN,S,Titanic
108,109,0,3,"Rekic, Mr. Tido",male,38,0,0,349249,"7,8958",NaN,S,Titanic
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,"24,15",NaN,Q,Titanic
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47,0,0,110465,52,C110,S,Titanic
111,112,0,3,"Zabour, Miss. Hileni",female,"14,5",1,0,2665,"14,4542",NaN,C,Titanic
112,113,0,3,"Barton, Mr. David John",male,22,0,0,324669,"8,05",NaN,S,Titanic
113,114,0,3,"Jussila, Miss. Katriina",female,20,1,0,4136,"9,825",NaN,S,Titanic
114,115,0,3,"Attalah, Miss. Malake",female,17,0,0,2627,"14,4583",NaN,C,Titanic
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21,0,0,STON/O 2. 3101294,"7,925",NaN,S,Titanic
116,117,0,3,"Connors, Mr. Patrick",male,"70,5",0,0,370369,"7,75",NaN,Q,Titanic
117,118,0,2,"Turpin, Mr. William John Robert",male,29,1,0,11668,21,NaN,S,Titanic
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24,0,1,PC 17558,"247,5208",B58 B60,C,Titanic
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2,4,2,347082,"31,275",NaN,S,Titanic
120,121,0,2,"Hickman, Mr. Stanley George",male,21,2,0,S.O.C. 14879,"73,5",NaN,S,Titanic
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,"8,05",NaN,S,Titanic
122,123,0,2,"Nasser, Mr. Nicholas",male,"32,5",1,0,237736,"30,0708",NaN,C,Titanic
123,124,1,2,"Webber, Miss. Susan",female,"32,5",0,0,27267,13,E101,S,Titanic
124,125,0,1,"White, Mr. Percival Wayland",male,54,0,1,35281,"77,2875",D26,S,Titanic
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12,1,0,2651,"11,2417",NaN,C,Titanic
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,"7,75",NaN,Q,Titanic
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24,0,0,C 17369,"7,1417",NaN,S,Titanic
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,"22,3583",F E69,C,Titanic
129,130,0,3,"Ekstrom, Mr. Johan",male,45,0,0,347061,"6,975",NaN,S,Titanic
130,131,0,3,"Drazenoic, Mr. Jozef",male,33,0,0,349241,"7,8958",NaN,C,Titanic
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20,0,0,SOTON/O.Q. 3101307,"7,05",NaN,S,Titanic
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47,1,0,A/5. 3337,"14,5",NaN,S,Titanic
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29,1,0,228414,26,NaN,S,Titanic
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25,0,0,C.A. 29178,13,NaN,S,Titanic
135,136,0,2,"Richard, Mr. Emile",male,23,0,0,SC/PARIS 2133,"15,0458",NaN,C,Titanic
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19,0,2,11752,"26,2833",D47,S,Titanic
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37,1,0,113803,"53,1",C123,S,Titanic
138,139,0,3,"Osen, Mr. Olaf Elon",male,16,0,0,7534,"9,2167",NaN,S,Titanic
139,140,0,1,"Giglio, Mr. Victor",male,24,0,0,PC 17593,"79,2",B86,C,Titanic
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,"15,2458",NaN,C,Titanic
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22,0,0,347081,"7,75",NaN,S,Titanic
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24,1,0,STON/O2. 3101279,"15,85",NaN,S,Titanic
143,144,0,3,"Burke, Mr. Jeremiah",male,19,0,0,365222,"6,75",NaN,Q,Titanic
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18,0,0,231945,"11,5",NaN,S,Titanic
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19,1,1,C.A. 33112,"36,75",NaN,S,Titanic
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27,0,0,350043,"7,7958",NaN,S,Titanic
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9,2,2,W./C. 6608,"34,375",NaN,S,Titanic
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,"36,5",0,2,230080,26,F2,S,Titanic
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42,0,0,244310,13,NaN,S,Titanic
150,151,0,2,"Bateman, Rev. Robert James",male,51,0,0,S.O.P. 1166,"12,525",NaN,S,Titanic
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22,1,0,113776,"66,6",C2,S,Titanic
152,153,0,3,"Meo, Mr. Alfonzo",male,"55,5",0,0,A.5. 11206,"8,05",NaN,S,Titanic
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,"40,5",0,2,A/5. 851,"14,5",NaN,S,Titanic
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,"7,3125",NaN,S,Titanic
155,156,0,1,"Williams, Mr. Charles Duane",male,51,0,1,PC 17597,"61,3792",NaN,C,Titanic
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16,0,0,35851,"7,7333",NaN,Q,Titanic
157,158,0,3,"Corn, Mr. Harry",male,30,0,0,SOTON/OQ 392090,"8,05",NaN,S,Titanic
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,"8,6625",NaN,S,Titanic
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,"69,55",NaN,S,Titanic
160,161,0,3,"Cribb, Mr. John Hatfield",male,44,0,1,371362,"16,1",NaN,S,Titanic
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40,0,0,C.A. 33595,"15,75",NaN,S,Titanic
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26,0,0,347068,"7,775",NaN,S,Titanic
163,164,0,3,"Calic, Mr. Jovo",male,17,0,0,315093,"8,6625",NaN,S,Titanic
164,165,0,3,"Panula, Master. Eino Viljami",male,1,4,1,3101295,"39,6875",NaN,S,Titanic
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9,0,2,363291,"20,525",NaN,S,Titanic
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55,E33,S,Titanic
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45,1,4,347088,"27,9",NaN,S,Titanic
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,"25,925",NaN,S,Titanic
169,170,0,3,"Ling, Mr. Lee",male,28,0,0,1601,"56,4958",NaN,S,Titanic
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61,0,0,111240,"33,5",B19,S,Titanic
171,172,0,3,"Rice, Master. Arthur",male,4,4,1,382652,"29,125",NaN,Q,Titanic
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1,1,1,347742,"11,1333",NaN,S,Titanic
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21,0,0,STON/O 2. 3101280,"7,925",NaN,S,Titanic
174,175,0,1,"Smith, Mr. James Clinch",male,56,0,0,17764,"30,6958",A7,C,Titanic
175,176,0,3,"Klasen, Mr. Klas Albin",male,18,1,1,350404,"7,8542",NaN,S,Titanic
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,"25,4667",NaN,S,Titanic
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50,0,0,PC 17595,"28,7125",C49,C,Titanic
178,179,0,2,"Hale, Mr. Reginald",male,30,0,0,250653,13,NaN,S,Titanic
179,180,0,3,"Leonard, Mr. Lionel",male,36,0,0,LINE,0,NaN,S,Titanic
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,"69,55",NaN,S,Titanic
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,"15,05",NaN,C,Titanic
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9,4,2,347077,"31,3875",NaN,S,Titanic
183,184,1,2,"Becker, Master. Richard F",male,1,2,1,230136,39,F4,S,Titanic
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4,0,2,315153,"22,025",NaN,S,Titanic
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50,A32,S,Titanic
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,"15,5",NaN,Q,Titanic
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45,0,0,111428,"26,55",NaN,S,Titanic
188,189,0,3,"Bourke, Mr. John",male,40,1,1,364849,"15,5",NaN,Q,Titanic
189,190,0,3,"Turcin, Mr. Stjepan",male,36,0,0,349247,"7,8958",NaN,S,Titanic
190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32,0,0,234604,13,NaN,S,Titanic
191,192,0,2,"Carbines, Mr. William",male,19,0,0,28424,13,NaN,S,Titanic
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19,1,0,350046,"7,8542",NaN,S,Titanic
193,194,1,2,"Navratil, Master. Michel M",male,3,1,1,230080,26,F2,S,Titanic
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44,0,0,PC 17610,"27,7208",B4,C,Titanic
195,196,1,1,"Lurette, Miss. Elise",female,58,0,0,PC 17569,"146,5208",B80,C,Titanic
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,"7,75",NaN,Q,Titanic
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42,0,1,4579,"8,4042",NaN,S,Titanic
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,"7,75",NaN,Q,Titanic
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,0,248747,13,NaN,S,Titanic
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28,0,0,345770,"9,5",NaN,S,Titanic
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,"69,55",NaN,S,Titanic
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34,0,0,3101264,"6,4958",NaN,S,Titanic
203,204,0,3,"Youseff, Mr. Gerious",male,"45,5",0,0,2628,"7,225",NaN,C,Titanic
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18,0,0,A/5 3540,"8,05",NaN,S,Titanic
205,206,0,3,"Strom, Miss. Telma Matilda",female,2,0,1,347054,"10,4625",G6,S,Titanic
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32,1,0,3101278,"15,85",NaN,S,Titanic
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26,0,0,2699,"18,7875",NaN,C,Titanic
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16,0,0,367231,"7,75",NaN,Q,Titanic
209,210,1,1,"Blank, Mr. Henry",male,40,0,0,112277,31,A31,C,Titanic
210,211,0,3,"Ali, Mr. Ahmed",male,24,0,0,SOTON/O.Q. 3101311,"7,05",NaN,S,Titanic
211,212,1,2,"Cameron, Miss. Clear Annie",female,35,0,0,F.C.C. 13528,21,NaN,S,Titanic
212,213,0,3,"Perkin, Mr. John Henry",male,22,0,0,A/5 21174,"7,25",NaN,S,Titanic
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30,0,0,250646,13,NaN,S,Titanic
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,"7,75",NaN,Q,Titanic
215,216,1,1,"Newell, Miss. Madeleine",female,31,1,0,35273,"113,275",D36,C,Titanic
216,217,1,3,"Honkanen, Miss. Eliina",female,27,0,0,STON/O2. 3101283,"7,925",NaN,S,Titanic
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42,1,0,243847,27,NaN,S,Titanic
218,219,1,1,"Bazzani, Miss. Albina",female,32,0,0,11813,"76,2917",D15,C,Titanic
219,220,0,2,"Harris, Mr. Walter",male,30,0,0,W/C 14208,"10,5",NaN,S,Titanic
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16,0,0,SOTON/OQ 392089,"8,05",NaN,S,Titanic
221,222,0,2,"Bracken, Mr. James H",male,27,0,0,220367,13,NaN,So,Titanic
222,223,0,3,"Green, Mr. George Henry",male,51,0,0,21440,"8,05",NaN,S,Titanic
223,224,0,3,"Nenkoff, Mr. Christo",mal,4435,0,0,349234,"7,8958",NaN,S,Titanic
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38,1,0,19943,90,C93,S,Titanic
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22,0,0,PP 4348,"9,35",NaN,S,Titanic
226,227,1,2,"Mellors, Mr. William John",male,19,0,0,SW/PP 751,"10,5",NaN,S,Titanic
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,"20,5",0,0,A/5 21173,"7,25",NaN,S,Titanic
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18,0,0,236171,13,NaN,S,Titanic
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,"25,4667",NaN,S,Titanic
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35,1,0,36973,"83,475",C83,S,Titanic
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29,0,0,347067,"7,775",NaN,S,Titanic
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59,0,0,237442,"13,5",NaN,S,Titanic
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5,4,2,347077,"31,3875",NaN,S,Titanic
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24,0,0,C.A. 29566,"10,5",NaN,S,Titanic
235,236,0,3,"Harknett, Miss. Alice Phoebe",fem,NaN,0,0,W./C. 6609,"7,55",NaN,S,Titanic
236,237,0,2,"Hold, Mr. Stephen",male,44,1,0,26707,26,NaN,S,Titanic
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8,0,2,C.A. 31921,"26,25",NaN,S,Titanic

In [5]:
# Kolumna ship jest zbędna ponieważ wszystkie wiersze należa do Titanic. Sprawdzimy czy pozostałe kolumny nie zawierają zbędnych
# wartości.

In [6]:
for col in file:
    if file[col].nunique() == 1:
        print(col)

ship

In [7]:
# Wykonana pętla także ukazała, że kolumna ship jest zbędna.

In [8]:
# PassengerId jest kolumną przechowująca unikalne wartości rekordków. Nie może być sytuacji w, której dana wartość się powtarza.

In [9]:
len(file) == file['PassengerId'].nunique()

False

In [10]:
# Otrzymaną wartością jest false co oznacza, że powtarzają się wartości.

In [11]:
# Kolumna survived powinna zawierać wartości 0,1. Możemy to sprawdzić w następujący sposób

In [12]:
file['Survived'].isin([0, 1]).all()

True

In [13]:
# Kolumna Survived zawiera wartości prawidłowe

In [14]:
# Niektóre kolumny posiadają wartości NaN. Możemy sprawdzić, które kolumny mają wartości NaN w następujący sposób:

In [15]:
file.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
ship           False
dtype: bool

In [16]:
# Następnie sprawdzimy ile razy wartości Nan pokazują się w każdej kolumnie

In [17]:
file.isnull().sum(axis = 0)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            173
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          685
Embarked         2
ship             0
dtype: int64

In [18]:
# Jak widać w kolumnie cabin jest aż 685 wartości Nan

In [19]:
# W niektórych kolumnach znajdują się drobne literówki.

In [20]:
file.nunique()

PassengerId    888
Survived         2
Pclass           3
Name           889
Sex              6
Age             93
SibSp            7
Parch            6
Ticket         680
Fare           250
Cabin          145
Embarked         6
ship             1
dtype: int64

In [21]:
# Kolumna sex zawiera 6 unikalnych wartości a powinny być 2. Podobnie kolumna cabin posiada aż 6 wartości gdy powinny być 3.

In [22]:
pd.concat([file['Sex'],file['Embarked']]).unique()

array(['male', 'female', 'malef', 'mal', 'fem', 'femmale', 'S', 'C', 'Q',
       'So', nan, 'Co', 'Qe'], dtype=object)

In [23]:
# Widać dobrze, że pojawiają się literówki np malef czy mal, które prawdopodobnie miały zostac zapisane jako male.
# Podobnie wygląda sytuacja w przypadku Cabin. Zamiast wartości 'S' jest literówka w postaci 'So'.

In [24]:
# W kolumnie age znajduje się wiek pasażerów. Wiek nie może być wartością ujemną ani nie powinien być większy niż 120.
# W następujący sposób można sprawdzić czy w kolumnie wiek znajdują się wartości nieprawidłowe. Dodatkowo
# można zaokrąglić wartości w age

In [25]:
file['Age'].unique()

array(['22', '38', '26', '35', nan, '54', '2', '27', '14', '4', '58',
       '20', '55', '31', '34', '15', '8', '19', '40', '.9', '66', '28',
       '42', '21', '18', '3', '7', '49', '29', '65', '28,5', '5', '11',
       '45', '17', '32', '16', '25', '0,83', '30', '33', '23', '24', '46',
       '59', '71', '37', '47', '14,5', '70,5', '32,5', '12', '9', '36,5',
       '51', '55,5', '40,5', '44', '1', '61', '56', '50', '36', '45,5',
       '4435', '20,5', '62', '41', '52', '63', '23,5', '0,92', '43', '60',
       '39', '10', '64', '13', '48', '0,75', '-3', '-12', '53', '57',
       '80', '250', '70', '24,5', '6', '0,67', '30,5', '0,42', '34,5',
       '74'], dtype=object)

In [26]:
# Kolumna fare przechowuje wartość uiszczonej opłaty. Wartości, które mają więcej niż 2 liczby po przecinku można zaokrąglić.

In [27]:
# Oczyszczanie danych zaczniemy od usunięcia zbędnej kolumny ship
file = file.drop(columns=['ship'])

In [28]:
# PassengerId zawiera duplikaty dlatego w kolejnym kroku je usuniemy.

In [29]:
file = file.drop_duplicates('PassengerId', ignore_index=True)

In [30]:
len(file) == file['PassengerId'].nunique()

True

In [31]:
# Wartość true oznacza, że nie ma wierszy, które posiadają to samo id.

In [32]:
# Następnie pozbędziemy się wartości Na, Nan
file['Embarked'] = file['Embarked'].replace(['nan'],'NaN')
file = file.fillna(0)

In [33]:
# W kolejnym etapie usunięte zostaną literówki w kolumnie Sex or Embarked

In [34]:
file['Sex'] = file['Sex'].replace(['femmale'],'female')
file['Sex'] = file['Sex'].replace(['malef'],'male')
file['Sex'] = file['Sex'].replace(['mal'],'male')

file['Sex'] = file['Sex'].replace(['fem'],'female')

In [35]:
pd.concat([file['Sex'],file['Embarked']]).unique()

array(['male', 'female', 'S', 'C', 'Q', 'So', 0, 'Co', 'Qe'], dtype=object)

In [36]:
# Analogicznie postępujemy w przypadku Embarked
file['Embarked'] = file['Embarked'].replace(['So'],'S')
file['Embarked'] = file['Embarked'].replace(['Co'],'C')
file['Embarked'] = file['Embarked'].replace(['Qe'],'Q')
pd.concat([file['Sex'],file['Embarked']]).unique()

array(['male', 'female', 'S', 'C', 'Q', 0], dtype=object)

In [37]:
# Następnie usuniemy wartości w kolumnie Age poniżej 1 oraz więcej niż 120. Najpierw zmienimy wartości w Age na typ flaot. 
# Aby tego dokonać najpierw trzeba zmienić przecinki na kropki.
file['Age']=file['Age'].str.replace(',','.')
file['Age'] = file['Age'].astype(float).round(1)
file = file[file['Age'] > 0]
file = file[file['Age'] < 121]

In [38]:
file['Age'].unique()

array([22. , 38. , 26. , 35. , 54. ,  2. , 27. , 14. ,  4. , 58. , 20. ,
       55. , 31. , 34. , 15. ,  8. , 19. , 40. ,  0.9, 66. , 28. , 42. ,
       21. , 18. ,  3. ,  7. , 49. , 29. , 65. , 28.5,  5. , 11. , 45. ,
       17. , 32. , 16. , 25. ,  0.8, 30. , 33. , 23. , 24. , 46. , 59. ,
       71. , 37. , 47. , 14.5, 70.5, 32.5, 12. ,  9. , 36.5, 51. , 55.5,
       40.5, 44. ,  1. , 61. , 56. , 50. , 36. , 45.5, 20.5, 62. , 41. ,
       52. , 63. , 23.5, 43. , 60. , 39. , 10. , 64. , 13. , 48. , 53. ,
       57. , 80. , 70. , 24.5,  6. ,  0.7, 30.5,  0.4, 34.5, 74. ])

In [39]:
# Następnie oczyszczone zostaną wartości z kolumny Fare. Przedstawia ona ceny, które powinny zostac zaokrąglone do 2 miejsc po
# przecinku.Podobnie jak w przypadku wieku trzeba zamienić przecinki na kropki aby dokonac konwersji do floata. Należy także
# wykluczyć wartości ujemne. Należy także podmienić jedną błędną komórkę z 15.9a na 15.9
file['Fare']=file['Fare'].str.replace('15,9a','15,9')
file['Fare']=file['Fare'].str.replace(',','.')
file['Fare'] = file['Fare'].astype(float).round(2)
file = file[file['Fare'] > 0]

In [40]:
file['Fare'].unique()

array([  7.25,  71.28,   7.92,  53.1 ,   8.05,  51.86,  21.08,  11.13,
        30.07,  16.7 ,  26.55,   7.85,  16.  ,  29.12,  18.  ,  26.  ,
        13.  ,   8.03,  31.39, 263.  ,  27.72, 146.52,  10.5 ,  82.17,
        52.  ,  11.24,   9.48,  21.  ,  41.58,   7.88,  17.8 ,  39.69,
         7.8 ,  76.73,  61.98,   7.23,  27.75,  46.9 ,  80.  ,  83.48,
        27.9 ,   8.16,   8.66,  73.5 ,  14.45,  56.5 ,   7.65,  29.  ,
        12.48,   9.  ,   9.5 ,  47.1 ,  15.85,  34.38,  61.18,  20.58,
        34.65,  63.36,  23.  ,   7.9 ,  77.29,   8.65,   9.82,  14.46,
         7.75, 247.52,  31.28,   7.14,   6.98,   7.05,  14.5 ,  15.05,
        26.28,   9.22,  79.2 ,   6.75,  11.5 ,  36.75,  12.52,  66.6 ,
        61.38,   7.73,  16.1 ,  15.75,   7.78,  20.52,  33.5 ,  30.7 ,
        28.71,  39.  ,  22.02,  15.5 ,   8.4 ,   6.5 ,   7.22,  10.46,
        18.79,  31.  , 113.28,  27.  ,  76.29,  90.  ,   9.35,  13.5 ,
        26.25,  12.28,   7.12,  52.55,  20.21,  15.25,  86.5 , 512.33,
        79.65, 153.46, 135.63,  19.5 ,  29.7 ,  77.96,  20.25,  78.85,
        91.08,  12.88,   8.85, 151.55, 108.9 ,  24.  ,  56.93,  83.16,
       262.38,  14.  , 164.87, 134.5 ,  12.35,   6.24,  57.98,  28.5 ,
        35.5 ,  15.9 ,  55.  ,  75.25,  69.3 ,  55.44, 211.5 ,   4.01,
       227.52,  15.74,  12.  , 120.  ,  12.65,  18.75,  32.5 ,  24.15,
        14.4 ,  55.9 ,  81.86,  19.26,  30.5 ,  89.1 ,  38.5 ,  13.79,
         9.84,   7.52,  12.29,   9.59,  49.5 ,  78.27,  22.52,  26.29,
        59.4 ,   7.5 ,  34.02, 106.42,  71.  , 110.88,  39.6 ,  17.4 ,
        51.48,  26.39,  30.  ,  40.12,  15.  ,  15.55,  65.  ,  32.32,
         7.55,   8.43, 133.65,  25.59,  10.17, 211.34,  57.  ,  13.42,
         7.74,  33.  ,   8.36,  25.93,   8.68,   8.52,   7.89,  37.  ,
         6.45,  93.5 ,   8.3 ,   6.44,  39.4 ,  14.11,  13.86,  50.5 ,
         5.  ,   9.85,  10.52])

In [41]:
# Wygląd pliku po oczyszczeniu
file

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,0,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.86,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.08,0,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.13,0,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.07,0,C
10,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4.0,1,1,PP 9549,16.70,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.55,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.05,0,S
13,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.85,0,S
14,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.00,0,S
15,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.12,0,Q
17,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.00,0,S
19,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.00,0,S
20,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.00,D56,S
21,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.03,0,Q
22,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.08,0,S
23,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.39,0,S
25,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.00,C23 C25 C27,S
28,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.72,0,C
29,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,0.9,1,0,PC 17569,146.52,B78,C
31,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.50,0,S
32,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.17,0,C
33,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.00,0,S
35,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.05,0,S
36,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.00,0,S
37,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.24,0,C
38,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.48,0,S
39,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.00,0,S
41,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.58,0,C
42,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.88,0,Q
47,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.80,0,S
48,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.69,0,S
49,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.0,0,0,A/4. 39886,7.80,0,S
50,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.73,D33,C
51,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.0,1,0,2926,26.00,0,S
52,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.98,B30,C
54,57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.50,0,S
55,58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.23,0,C
56,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.75,0,S
57,60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.90,0,S
58,61,0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.23,0,C
59,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.00,B28,0
60,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.48,C83,S
61,64,0,3,"Skoog, Master. Harald",male,4.0,3,2,347088,27.90,0,S
64,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0,0,C.A. 29395,10.50,F33,S
65,68,0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.16,0,S
66,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.0,4,2,3101281,7.92,0,S
67,70,0,3,"Kink, Mr. Vincenz",male,26.0,2,0,315151,8.66,0,S
68,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.50,0,S
69,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.90,0,S
70,73,0,2,"Hood, Mr. Ambrose Jr",male,21.0,0,0,S.O.C. 14879,73.50,0,S
71,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.0,1,0,2680,14.45,0,C
72,75,1,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.50,0,S
73,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.65,F G73,S
76,79,1,2,"Caldwell, Master. Alden Gates",male,0.8,0,2,248738,29.00,0,S
77,80,1,3,"Dowdell, Miss. Elizabeth",female,30.0,0,0,364516,12.48,0,S
78,81,0,3,"Waelens, Mr. Achille",male,22.0,0,0,345767,9.00,0,S
79,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.0,0,0,345779,9.50,0,S
81,84,0,1,"Carrau, Mr. Francisco M",male,28.0,0,0,113059,47.10,0,S
82,85,1,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.50,0,S
83,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0,3,0,3101278,15.85,0,S
84,87,0,3,"Ford, Mr. William Neal",male,16.0,1,3,W./C. 6608,34.38,0,S
86,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.00,C23 C25 C27,S
87,90,0,3,"Celotti, Mr. Francesco",male,24.0,0,0,343275,8.05,0,S
88,91,0,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.05,0,S
89,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.0,0,0,347466,7.85,0,S
90,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.18,E31,S
91,94,0,3,"Dean, Mr. Bertram Frank",male,26.0,1,2,C.A. 2315,20.58,0,S
92,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.25,0,S
94,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.65,A5,C
95,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.36,D10 D12,C
96,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.00,0,S
97,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.00,0,S
98,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.90,0,S
100,103,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.29,D26,S
101,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.65,0,S
102,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.92,0,S
103,106,0,3,"Mionoff, Mr. Stoytcho",male,28.0,0,0,349207,7.90,0,S
104,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.65,0,S
106,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.90,0,S
108,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.00,C110,S
109,112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.45,0,C
110,113,0,3,"Barton, Mr. David John",male,22.0,0,0,324669,8.05,0,S
111,114,0,3,"Jussila, Miss. Katriina",female,20.0,1,0,4136,9.82,0,S
112,115,0,3,"Attalah, Miss. Malake",female,17.0,0,0,2627,14.46,0,C
113,116,0,3,"Pekoniemi, Mr. Edvard",male,21.0,0,0,STON/O 2. 3101294,7.92,0,S
114,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.75,0,Q
115,118,0,2,"Turpin, Mr. William John Robert",male,29.0,1,0,11668,21.00,0,S
116,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.52,B58 B60,C
117,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.0,4,2,347082,31.28,0,S
118,121,0,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.50,0,S
120,123,0,2,"Nasser, Mr. Nicholas",male,32.5,1,0,237736,30.07,0,C
121,124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13.00,E101,S
122,125,0,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.29,D26,S
123,126,1,3,"Nicola-Yarred, Master. Elias",male,12.0,1,0,2651,11.24,0,C
125,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.0,0,0,C 17369,7.14,0,S
127,130,0,3,"Ekstrom, Mr. Johan",male,45.0,0,0,347061,6.98,0,S
128,131,0,3,"Drazenoic, Mr. Jozef",male,33.0,0,0,349241,7.90,0,C
129,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.05,0,S
130,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.50,0,S
131,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.00,0,S
132,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.0,0,0,C.A. 29178,13.00,0,S
133,136,0,2,"Richard, Mr. Emile",male,23.0,0,0,SC/PARIS 2133,15.05,0,C
134,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.0,0,2,11752,26.28,D47,S
135,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.10,C123,S
136,139,0,3,"Osen, Mr. Olaf Elon",male,16.0,0,0,7534,9.22,0,S
137,140,0,1,"Giglio, Mr. Victor",male,24.0,0,0,PC 17593,79.20,B86,C
139,142,1,3,"Nysten, Miss. Anna Sofia",female,22.0,0,0,347081,7.75,0,S
140,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.0,1,0,STON/O2. 3101279,15.85,0,S
141,144,0,3,"Burke, Mr. Jeremiah",male,19.0,0,0,365222,6.75,0,Q
142,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.0,0,0,231945,11.50,0,S
143,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.75,0,S
144,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.0,0,0,350043,7.80,0,S
145,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.38,0,S
146,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.00,F2,S
147,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.0,0,0,244310,13.00,0,S
148,151,0,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.52,0,S
149,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.60,C2,S
150,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.05,0,S
151,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.50,0,S
153,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.38,0,C
154,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.0,0,0,35851,7.73,0,Q
155,158,0,3,"Corn, Mr. Harry",male,30.0,0,0,SOTON/OQ 392090,8.05,0,S
158,161,0,3,"Cribb, Mr. John Hatfield",male,44.0,0,1,371362,16.10,0,S
159,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0,0,0,C.A. 33595,15.75,0,S
160,163,0,3,"Bengtsson, Mr. John Viktor",male,26.0,0,0,347068,7.78,0,S
161,164,0,3,"Calic, Mr. Jovo",male,17.0,0,0,315093,8.66,0,S
162,165,0,3,"Panula, Master. Eino Viljami",male,1.0,4,1,3101295,39.69,0,S
163,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.0,0,2,363291,20.52,0,S
165,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.90,0,S
167,170,0,3,"Ling, Mr. Lee",male,28.0,0,0,1601,56.50,0,S
168,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.50,B19,S
169,172,0,3,"Rice, Master. Arthur",male,4.0,4,1,382652,29.12,0,Q
170,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.0,1,1,347742,11.13,0,S
171,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.0,0,0,STON/O 2. 3101280,7.92,0,S
172,175,0,1,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.70,A7,C
173,176,0,3,"Klasen, Mr. Klas Albin",male,18.0,1,1,350404,7.85,0,S
175,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.71,C49,C
176,179,0,2,"Hale, Mr. Reginald",male,30.0,0,0,250653,13.00,0,S
180,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.0,4,2,347077,31.39,0,S
181,184,1,2,"Becker, Master. Richard F",male,1.0,2,1,230136,39.00,F4,S
182,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.0,0,2,315153,22.02,0,S
185,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.0,0,0,111428,26.55,0,S
186,189,0,3,"Bourke, Mr. John",male,40.0,1,1,364849,15.50,0,Q
187,190,0,3,"Turcin, Mr. Stjepan",male,36.0,0,0,349247,7.90,0,S
188,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.0,0,0,234604,13.00,0,S
189,192,0,2,"Carbines, Mr. William",male,19.0,0,0,28424,13.00,0,S
190,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,1,0,350046,7.85,0,S
191,194,1,2,"Navratil, Master. Michel M",male,3.0,1,1,230080,26.00,F2,S
192,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,0,0,PC 17610,27.72,B4,C
193,196,1,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.52,B80,C
195,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.0,0,1,4579,8.40,0,S
197,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.0,0,0,248747,13.00,0,S
198,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.0,0,0,345770,9.50,0,S
200,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.0,0,0,3101264,6.50,0,S
201,204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.22,0,C
202,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.0,0,0,A/5 3540,8.05,0,S
203,206,0,3,"Strom, Miss. Telma Matilda",female,2.0,0,1,347054,10.46,G6,S
204,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.0,1,0,3101278,15.85,0,S
205,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.79,0,C
206,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.0,0,0,367231,7.75,0,Q
207,210,1,1,"Blank, Mr. Henry",male,40.0,0,0,112277,31.00,A31,C
208,211,0,3,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.05,0,S
209,212,1,2,"Cameron, Miss. Clear Annie",female,35.0,0,0,F.C.C. 13528,21.00,0,S
210,213,0,3,"Perkin, Mr. John Henry",male,22.0,0,0,A/5 21174,7.25,0,S
211,214,0,2,"Givard, Mr. Hans Kristensen",male,30.0,0,0,250646,13.00,0,S
213,216,1,1,"Newell, Miss. Madeleine",female,31.0,1,0,35273,113.28,D36,C
214,217,1,3,"Honkanen, Miss. Eliina",female,27.0,0,0,STON/O2. 3101283,7.92,0,S
215,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.0,1,0,243847,27.00,0,S
216,219,1,1,"Bazzani, Miss. Albina",female,32.0,0,0,11813,76.29,D15,C
217,220,0,2,"Harris, Mr. Walter",male,30.0,0,0,W/C 14208,10.50,0,S
218,221,1,3,"Sunderland, Mr. Victor Francis",male,16.0,0,0,SOTON/OQ 392089,8.05,0,S
219,222,0,2,"Bracken, Mr. James H",male,27.0,0,0,220367,13.00,0,S
220,223,0,3,"Green, Mr. George Henry",male,51.0,0,0,21440,8.05,0,S
222,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.0,1,0,19943,90.00,C93,S
223,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.0,0,0,PP 4348,9.35,0,S
224,227,1,2,"Mellors, Mr. William John",male,19.0,0,0,SW/PP 751,10.50,0,S
225,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.25,0,S
226,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.0,0,0,236171,13.00,0,S
228,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1,0,36973,83.48,C83,S
229,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.0,0,0,347067,7.78,0,S
230,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.0,0,0,237442,13.50,0,S
231,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.39,0,S
232,235,0,2,"Leyson, Mr. Robert William Norman",male,24.0,0,0,C.A. 29566,10.50,0,S
234,237,0,2,"Hold, Mr. Stephen",male,44.0,1,0,26707,26.00,0,S
235,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.0,0,2,C.A. 31921,26.25,0,S
236,239,0,2,"Pengelly, Mr. Frederick William",male,19.0,0,0,28665,10.50,0,S
237,240,0,2,"Hunt, Mr. George Henry",male,33.0,0,0,SCO/W 1585,12.28,0,S
240,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.0,0,0,W./C. 14263,10.50,0,S
241,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.0,0,0,STON/O 2. 3101275,7.12,0,S
242,245,0,3,"Attalah, Mr. Sleiman",male,30.0,0,0,2694,7.22,0,C
244,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,0,0,347071,7.78,0,S
245,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.0,0,2,250649,14.50,0,S
246,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.0,1,1,11751,52.55,D35,S
247,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.0,1,0,244252,26.00,0,S
249,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.46,G6,S
250,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.55,C87,S
251,254,0,3,"Lobb, Mr. William Arthur",male,30.0,1,0,A/5. 3336,16.10,0,S
252,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.21,0,S
253,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.0,0,2,2650,15.25,0,C
255,258,1,1,"Cherry, Miss. Gladys",female,30.0,0,0,110152,86.50,B77,S
256,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.33,0,C
257,260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50.0,0,1,230433,26.00,0,S
259,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.0,4,2,347077,31.39,0,S
260,263,0,1,"Taussig, Mr. Emil",male,52.0,1,1,110413,79.65,E67,S
263,266,0,2,"Reeves, Mr. David",male,36.0,0,0,C.A. 17248,10.50,0,S
264,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.0,4,1,3101295,39.69,0,S
265,268,1,3,"Persson, Mr. Ernst Ulrik",male,25.0,1,0,347083,7.78,0,S
266,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,0,1,PC 17582,153.46,C125,S
267,270,1,1,"Bissette, Miss. Amelia",female,35.0,0,0,PC 17760,135.63,C99,S
270,273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41.0,0,1,250644,19.50,0,S
271,274,0,1,"Natsch, Mr. Charles H",male,37.0,0,1,PC 17596,29.70,C118,C
273,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.96,D7,S
274,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.0,0,0,347073,7.75,0,S
276,279,0,3,"Rice, Master. Eric",male,7.0,4,1,382652,29.12,0,Q
277,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.25,0,S
278,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.75,0,Q
279,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.0,0,0,347464,7.85,0,S
280,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.0,0,0,345778,9.50,0,S
281,284,1,3,"Dorking, Mr. Edward Arthur",male,19.0,0,0,A/5. 10482,8.05,0,S
283,286,0,3,"Stankovic, Mr. Ivan",male,33.0,0,0,349239,8.66,0,C
284,287,1,3,"de Mulder, Mr. Theodore",male,30.0,0,0,345774,9.50,0,S
285,288,0,3,"Naidenoff, Mr. Penko",male,22.0,0,0,349206,7.90,0,S
286,289,1,2,"Hosono, Mr. Masabumi",male,42.0,0,0,237798,13.00,0,S
287,290,1,3,"Connolly, Miss. Kate",female,22.0,0,0,370373,7.75,0,Q
288,291,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0,0,0,19877,78.85,0,S
289,292,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0,1,0,11967,91.08,B49,C
290,293,0,2,"Levy, Mr. Rene Jacques",male,36.0,0,0,SC/Paris 2163,12.88,D,C
291,294,0,3,"Haas, Miss. Aloisia",female,24.0,0,0,349236,8.85,0,S
292,295,0,3,"Mineff, Mr. Ivan",male,24.0,0,0,349233,7.90,0,S
294,297,0,3,"Hanna, Mr. Mansour",male,23.5,0,0,2693,7.23,0,C
295,298,0,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.55,C22 C26,S
297,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.52,B58 B60,C
303,306,1,1,"Allison, Master. Hudson Trevor",male,0.9,1,2,113781,151.55,C22 C26,S
305,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.90,C65,C
306,309,0,2,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.00,0,C
307,310,1,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.93,E36,C
308,311,1,1,"Hays, Miss. Margaret Bechstein",female,24.0,0,0,11767,83.16,C54,C
309,312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.38,B57 B59 B63 B66,C
310,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.0,1,1,250651,26.00,0,S
311,314,0,3,"Hendekovic, Mr. Ignjac",male,28.0,0,0,349243,7.90,0,S
312,315,0,2,"Hart, Mr. Benjamin",male,43.0,1,1,F.C.C. 13529,26.25,0,S
313,316,1,3,"Nilsson, Miss. Helmina Josefina",female,26.0,0,0,347470,7.85,0,S
314,317,1,2,"Kantor, Mrs. Sinai (Miriam Sternin)",female,24.0,1,0,244367,26.00,0,S
315,318,0,2,"Moraweck, Dr. Ernest",male,54.0,0,0,29011,14.00,0,S
316,319,1,1,"Wick, Miss. Mary Natalie",female,31.0,0,2,36928,164.87,C7,S
317,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.0,1,1,16966,134.50,E34,C
318,321,0,3,"Dennis, Mr. Samuel",male,22.0,0,0,A/5 21172,7.25,0,S
319,322,0,3,"Danoff, Mr. Yoto",male,27.0,0,0,349219,7.90,0,S
320,323,1,2,"Slayter, Miss. Hilda Mary",female,30.0,0,0,234818,12.35,0,Q
321,324,1,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",female,22.0,1,1,248738,29.00,0,S
323,326,1,1,"Young, Miss. Marie Grice",female,36.0,0,0,PC 17760,135.63,C32,C
324,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.24,0,S
325,328,1,2,"Ball, Mrs. (Ada E Hall)",female,36.0,0,0,28551,13.00,D,S
326,329,1,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1,1,363291,20.52,0,S
327,330,1,1,"Hippach, Miss. Jean Gertrude",female,16.0,0,1,111361,57.98,B18,C
329,332,0,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.50,C124,S
330,333,0,1,"Graham, Mr. George Edward",male,38.0,0,1,PC 17582,153.46,C91,S
331,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.0,2,0,345764,18.00,0,S
334,337,0,1,"Pears, Mr. Thomas Clinton",male,29.0,1,0,113776,66.60,C2,S

In [42]:
# Zapis do pliku csv
file.to_csv('TitanicCleaned', sep='\t')